<template>
  <div>
    <b-button block variant="primary" class="add-building" @click="showForm()"
      >Add Building</b-button
    >
  </div>
</template>
<script>
import router from '../router/index.js'
export default {
  methods: {
    showForm() {
      router.push({ name: "AddBuildingForm" });
    },
  },
};
</script>
<style scoped>
.add-building {
  width: 90%;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 14%;
}
</style>
