<template>
  <div>
    <b-card class="mt-3" header="Add Building">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-2" label="Name:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.name"
            placeholder="Building Name"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-3"
          class="select-location"
          label="Location:"
          label-for="input-3"
        >
          <b-form-select
            @change="selectOption(form.city)"
            id="input-3"
            v-model="form.city"
            :options="cities"
            required
          ></b-form-select>
          <div class="mt-3 mb-3">
            <AddMap />
          </div>
        </b-form-group>

        <div class="btns-actions mt-4">
          <b-button type="reset" variant="danger" class="cancel"
            >Cancel</b-button
          >
          <b-button type="submit" variant="primary" class="submit"
            >Submit</b-button
          >
        </div>
      </b-form>
    </b-card>
  </div>
</template>

<script>
// import * as citiesList from "./../store/countriesList.json";
import AddMap from "./AddMap.vue";
import { ListCities } from "./../store/utilites.js";
export default {
  data() {
    return {
      form: {
        name: "",
        city: null,
      },
      cities: [],
      show: true,
    };
  },
  components: {
    AddMap,
  },
  created() {
    debugger;
    var CitiesData = new ListCities();
    for (let city of CitiesData) {
      this.cities.push(city.name);
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.name = "";
      this.form.city = null;
      this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
<style scoped>
.form-control {
  width: 44% !important;
  text-align: left;
  margin-bottom: 26px;
  margin-top: 0px;
}
.card {
  width: 72%;
  text-align: left;
  float: right;
}
.custom-select {
  margin-top: 0 !important;
}
.submit,
.cancel {
  width: 21%;
  margin: 30px 16px;
  float: right;
}
.btns-actions{
  display: block;
}
</style>
