<template>
  <l-map
    style="height: 100vh; width: 100%; float: right"
    :zoom="zoom"
    :center="center"
  >
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <l-geo-json :geojson="geojson"></l-geo-json>
    <l-marker :lat-lng="markerLatLng">
      <l-popup>{{ buildingName }} located in {{ city }}</l-popup>
    </l-marker>
  </l-map>
</template>

<script>
import { LMap, LTileLayer, LGeoJson, LMarker, LPopup } from "vue2-leaflet";
// import * as citiesList from "./../store/countriesList.json";
import * as geocitiesList from "./../store/countries.json";
export default {
  components: {
    LPopup,
    LMap,
    LMarker,
    LTileLayer,
    LGeoJson,
  },
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 4,
      center: [47.31322, -1.319482],
      geojson: [],
      buildingName: "",
      city: "",
    };
  },
  methods: {
    updateLocation() {
      var jsonData = geocitiesList.default.features;
      for (var i = 0; i < jsonData.length; i++) {
        this.geojson.push(jsonData[i].geometry);
      }
    },
  },
  created() {
      this.updateLocation();
  },
};
</script>
<style>
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
</style>
