<template>
  <l-map
    style="height: 100vh; width: 73%; float: right"
    :zoom="zoom"
    :center="center"
  >
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <l-geo-json :geojson="geojson"></l-geo-json>
    <l-marker :lat-lng="markerLatLng">
      <l-popup>{{ buildingName }} located in {{ city }}</l-popup>
    </l-marker>
  </l-map>
</template>

<script>
import { LMap, LTileLayer, LGeoJson, LMarker, LPopup } from "vue2-leaflet";
import * as citiesList from "./../store/countriesList.json";
import * as geocitiesList from "./../store/countries.json";
export default {
  components: {
    LPopup,
    LMap,
    LMarker,
    LTileLayer,
    LGeoJson,
  },
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 4,
      center: [47.31322, -1.319482],
      geojson: [],
      buildingName: "",
      city: "",
    };
  },
  watch: {
    $route() {
      this.updateLocation(this.$route.params.cityId);
    },
  },
  methods: {
    updateLocation(param) {
      // get cityname and building name
      this.city = this.$store.getters.getBLocation;
      this.buildingName = this.$store.getters.getBuildingName;

      var listCities = citiesList.default;
      var routerCityId = param;
      for (var i = 0; i < listCities.length; i++) {
        if (listCities[i].id == routerCityId) {
          this.markerLatLng = listCities[i].position;
          this.$store.commit("setBLocation", listCities[i].name);
          this.center = listCities[i].position;
          return 0;
        }
      }
    },
  },
  created() {
    // get cityname and building name
    this.city = this.$store.getters.getBLocation;
    this.buildingName = this.$store.getters.getBuildingName;
    var jsonData = geocitiesList.default.features;
    for (var i = 0; i < jsonData.length; i++) {
      this.geojson.push(jsonData[i].geometry);
    }

    // marker
    var listCities = citiesList.default;
    var routerCityId = this.$route.params.cityId;
    for (var x = 0; x < listCities.length; x++) {
      if (listCities[x].id == routerCityId) {
        this.markerLatLng = listCities[x].position;
        this.center = listCities[x].position;
        return 0;
      }
    }
  },
};
</script>
<style>
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
</style>
