<template>
  <l-map
    style="height: 100vh; width: 73%; float: right"
    :zoom="zoom"
    :center="center"
  >
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <l-marker :lat-lng="markerLatLng"></l-marker>
  </l-map>
</template>

<script>
import { LMap, LTileLayer, LMarker } from "vue2-leaflet";
import * as citiesList from "./../store/countriesList.json";
import { Icon } from "leaflet";
delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});
export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
  },
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 15,
      center: [],
      markerLatLng: [],
    };
  },
  watch: {
    $route() {
      this.updateLocation(this.$route.params.cityId);
    },
  },
  methods: {
    updateLocation(param) {
      var listCities = citiesList.default;
      var routerCityId = param;
      for (var i = 0; i < listCities.length; i++) {
        if (listCities[i].id == routerCityId) {
          this.markerLatLng = listCities[i].position;
          this.center = listCities[i].position;
          return 0;
        }
      }
    },
  },
  created() {
    var listCities = citiesList.default;
    var routerCityId = this.$route.params.cityId;
    for (var i = 0; i < listCities.length; i++) {
      if (listCities[i].id == routerCityId) {
        this.markerLatLng = listCities[i].position;
        this.center = listCities[i].position;
        return 0;
      }
    }
  },
};
</script>
<style>
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
</style>
