<template>
  <div>
    <div class="select-wrapper">
      <b-form-select
        v-model="selected"
        @change="selectOption()"
        :options="options"
      ></b-form-select>
    </div>

    <sidebar-menu v-if="menu.length == 0" :menu="emptyMenue" />
    <sidebar-menu v-else :menu="menu" @item-click="onItemClick" />
  </div>
</template>
<script>
import { SidebarMenu } from "vue-sidebar-menu";
import AddBuildingBtn from "./AddBuildingBtn.vue";
import * as clientsList from "./../store/users.json";
export default {
  data() {
    return {
      clients: clientsList,
      selectedBuilding: null,
      selected: null,
      buildingObj: {
        title: null,
      },
      options: [
        { value: null, text: "Please select user" },
        { value: "a", text: "Client-1" },
        { value: "b", text: "Client-2" },
        { value: "c", text: "Client-3" },
      ],
      menu: [],
      emptyMenue: [
        {
          header: true,
          title: "Buildings",
          hiddenOnCollapse: true,
        },
      ],
    };
  },
  methods: {
    selectOption() {
      this.menu = [];
      this.$store.commit("setClient", this.selected);
      var jsonClient = JSON.parse(
        JSON.stringify(this.clients.default[0].clients)
      );
      for (var i = 0; i < jsonClient.length; i++) {
        if (jsonClient[i].clientName == this.selected) {
          this.selectedBuilding = jsonClient[i];
        }
      }
      // put selected buildings in side menue
      var bData = this.selectedBuilding.buildings;
      this.menu.push({
        header: true,
        title: "Buildings",
        hiddenOnCollapse: true,
      });

      for (var x = 0; x < bData.length; x++) {
        this.menu.push({
          href: { path: "/" + bData[x].cityId },
          title: bData[x].name,
          icon: {
            element: "b-icon-house-door",
          },
        });
      }

      this.menu.push({
        component: AddBuildingBtn,
        hiddenOnCollapse: true,
      });
      this.$store.commit("setClientBuilding", this.selectedBuilding);
    },
    onItemClick(event) {
      this.$store.commit("setBuildingName", event.currentTarget.innerText);
    },
  },
  components: {
    SidebarMenu,
  },
  updated() {},
};
</script>
<style scoped>
.custom-control-label::before,
.custom-file-label,
.custom-select {
  width: 44% !important;
  text-align: left;
  margin-bottom: 26px;
  margin-top: 20px;
}
</style>
