<template>
  <div id="app">
    <SideMenue />

    <router-view />
  </div>
</template>

<script>
import SideMenue from "./components/SideMenue.vue";

export default {
  data() {
    return {};
  },
  methods: {},
  components: {
    SideMenue,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}
</style>
